name: gapfill-landsat

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install tox tox-uv
      - name: Test with tox
        run: |
          # Remove dot from python version for tox env name (3.11 -> py311)
          TOX_ENV="py$(echo ${{ matrix.python-version }} | tr -d .)"
          tox -e $TOX_ENV
